---
export interface Props {
    name : string;
    date : string;
    link : string;
}

const {name,date,link} = Astro.props
---
<div>
<h1>{title}</h1>
<h4>{date}</h4>
<a href={link}>Read More</a>
</div>
<style>
    div {
    display : flex;
    flex-direction : row;
    };
</style>