---
export interface Props {
    name : string;
    date : string;
    link : string;
}

const {name,date,link} = Astro.props;
---
<div>
<a href={link}>{name}{date}</a>
</div>
<style>
    div {
    display : flex;
    flex-direction : row;
    justify-content : center;
    };
</style>